Set-StrictMode -Version Latest
function <Verb-Noun> {
  [CmdletBinding()]
  param(
    # <typed params with validation>
  )
  <# Purpose: pure transformation
     Inputs/Outputs: <types>
     Preconditions/Postconditions: <list>
     Errors: throw specific, actionable messages
  #>
  # BEGIN EDITABLE
  throw 'not implemented'
  # END EDITABLE
}

